

.header{
  font-family: 'Courier New', Courier, monospace;
  font-size: 55px;

}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

.card {
background-image: url('./images/gotBg3.png');
background-color: blanchedalmond;
background-size: contain;
background-repeat: no-repeat;
justify-content: center;
padding: 15px;
color: black;
text-align: right;
font-size: 25px;
font-family: 'Open Sans Condensed', sans-serif;}